<!-- ngIf  -->
<h2 *ngIf="displayName; else elseBlock">nglf Directive</h2>

<br>
<!-- ANOTHER WAY  -->
<h2 *ngIf="displayName; then thenBlock; else elseBlock"></h2>

<ng-template #thenBlock>
    <h2>Name is Reza</h2>
</ng-template>

<ng-template #elseBlock>
    <h2>Name is hidden</h2>
</ng-template>

<!-- ngSwitch  -->

<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">You picked red color</div>
    <div *ngSwitchCase="'blue'">You picked blue color</div>
    <div *ngSwitchCase="'green'">You picked green color</div>
    <div *ngSwitchDefault>Pick Again</div>
</div>

<!-- ngFor  -->
<div *ngFor="let color of colors; index as i">
    <h3>{{i}} {{color}}</h3>
</div>
<br>
<div *ngFor="let color of colors; first as f">
    <h4>{{f}} {{color}}</h4>
</div>