<h1>Angular Interpolation</h1>
<h1>{{name}}</h1>
<h1>{{getName()}}</h1>
<h1>{{obj.age}}</h1>
<h1>{{obj.name}}</h1>
<h1>{{arr.length}}</h1>
<h1>{{a+b}}</h1>
<h1>{{siteUrl}}</h1>

<button (click)="getFullName('Mahmudul Hasan Reza')">get my name</button>
<br>
<!-- pass variable  -->
<!-- <button (click)="getFullName(name)">get my name</button> -->
<button (click)="myEvent('click event')">Click me</button>
<br> <br>
<input type="text" (keyup)="myEvent('keyup event')">
<br> <br>
<input type="text" placeholder="keyup" #box (keyup)="myEvent(box.value)">
<br> <br>
<input type="text" placeholder="keyup enter" #box1 (keyup.enter)="myEvent(box1.value)">
<br> <br>
<input type="text" placeholder="keyup space" #keyspace (keyup.space)="myEvent(keyspace.value)">
<br> <br>
<input type="text" placeholder="keydown" #keydown (keydown)="myEvent(keydown.value)">

<!-- when click in box then again click outside the box  -->
<br> <br>
<input type="text" placeholder="blue event" (blur)="myEvent('Blur event')">

<!--we can use two event ta a time  -->
<br> <br>
<input type="text" placeholder="blue event keydown event" #keydown1 (keydown)="myEvent(keydown1.value)" (blur)="myEvent('blur event')">


<br> <br>
<div (mouseover)="myEvent('mouse in')" style="background-color: aqua;">
    MouseOver Events
</div>
<br> <br>
<div (mouseleave)="myEvent('mouse leave')" style="background-color: chartreuse;">
    MouseLeave Events
</div>

<br>
<p>live text print</p>
<input type="text" (keyup)="getLiveValue($event.target.value)">
<h3>{{currentval}}</h3>


<p>print after button click</p>
<input type="text" #box2>
<button (click)="getValue(box2.value)">Get Value</button>
<h3>{{currentval2}}</h3>

<h2>Property Binding</h2>
<!-- property binding -->
<input type="text" [disabled]="disableBox" [value]="name">
<br><br>
<!-- Interpolation  -->
<!-- Interpolation is not able to handle this disable attribute -->
<input type="text" disabled={{disableBox}} value={{name}}>
<br><br>
<button (click)="enableBox()">Enable TextBox</button>


<app-login></app-login>